*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

*{
    box-sizing: border-box;
}

.top{
    height: 1024px;
    background-image: url(img/top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.content{
    &__title{
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 217px;
        max-width: 760px;
    }
    &__text{
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-top: 32px;
        max-width: 481px;
    }
    &__button{
        width: 234px;
        height: 48px;
        background: #9C0332;
        border-radius: 30px;
        border-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 44px; 
        transition: all .5s;
        &:hover{
            background: #EB443F;
        }
    }
    
}
.games-catalog {
    background: #000915;
    min-height: 556px;  
}
.games-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 128px;
}
.game{
     border-radius: 16px;
    &_1{
        background-image: url(img/card1.png);
    }
    &_2{
        background-image: url(img/card2.png);
    }
    &_3{
        background-image: url(img/card3.png);
    }
    height: 300px;
    width: 378px;
    &__text{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        padding-top: 236px;
        padding-left: 32px;

    }
    transition: all 0.3s;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 5px 32px 2px #44D2FF;
    }
}
.full-game{
    background: #000915;
    height: 800px;  
}
.full-game_center{
    background-image: url(img/game3-back.jpg);
}

.full-game-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 233px;
    padding-bottom: 233px;
}
.full-game-content_reflection{
    flex-direction: row-reverse;  
}
.full-game-content_center{
    padding-top: 276px;

}

.left-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 584px;
    justify-content: center;
    &__header{
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
   }
   &__text{
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
   }

   &__button{
    width: 234px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
    transition: all .5s;
    &:hover{
        background: #EB443F;
    }
   }
   
}

.left-box_center{
    width: 1200px;
    text-align: center;
    align-items: center;
}

.footer{
    height: 80px;
    background: #000915;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
}

@import 'mobile';