* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

* {
  box-sizing: border-box;
}

.top {
  height: 1024px;
  background-image: url(img/top.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
  max-width: 760px;
}
.content__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
  max-width: 481px;
}
.content__button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  border-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 44px;
  transition: all 0.5s;
}
.content__button:hover {
  background: #EB443F;
}

.games-catalog {
  background: #000915;
  min-height: 556px;
}

.games-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 128px;
}

.game {
  border-radius: 16px;
  height: 300px;
  width: 378px;
  transition: all 0.3s;
}
.game_1 {
  background-image: url(img/card1.png);
}
.game_2 {
  background-image: url(img/card2.png);
}
.game_3 {
  background-image: url(img/card3.png);
}
.game__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 236px;
  padding-left: 32px;
}
.game:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 32px 2px #44D2FF;
}

.full-game {
  background: #000915;
  height: 800px;
}

.full-game_center {
  background-image: url(img/game3-back.jpg);
}

.full-game-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 233px;
  padding-bottom: 233px;
}

.full-game-content_reflection {
  flex-direction: row-reverse;
}

.full-game-content_center {
  padding-top: 276px;
}

.left-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 584px;
  justify-content: center;
}
.left-box__header {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.left-box__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.left-box__button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  border-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.5s;
}
.left-box__button:hover {
  background: #EB443F;
}

.left-box_center {
  width: 1200px;
  text-align: center;
  align-items: center;
}

.footer {
  height: 80px;
  background: #000915;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .content__title {
    font-size: 32px;
    line-height: 39px;
    padding-top: 238px;
  }
  .content__text {
    font-size: 14px;
    line-height: 22px;
    padding-top: 32px;
  }
  .content__button {
    margin-top: 32px;
  }
  .games-catalog {
    padding-bottom: 127px;
  }
  .game {
    width: 343px;
  }
  .full-game {
    height: 653px;
  }
  .full-game-content {
    padding-top: 51px;
    gap: 64px;
    padding-bottom: 85px;
  }
  .left-box {
    align-items: center;
    text-align: center;
    width: 584px;
  }
  .left-box__header {
    font-size: 32px;
    line-height: 39px;
  }
  .left-box__text {
    font-size: 14px;
    line-height: 22px;
  }
  .right-box__icon-img {
    width: 344px;
    height: 236px;
  }
  .full-game_center {
    height: 800px;
  }
}/*# sourceMappingURL=style.css.map */